

.nav{
    margin: 0.1vh;
    padding: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items{

}
.nav-item{
    display: inline-block;
    margin-left: 2.5vh;

}

.middle{
}

.btn-link {
  display: inline-block;
  padding: 5px 8px;
  background: #222;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}

.btn-link:hover {
  background: #444;
}


.container1{
    display: flex;
    padding: 10vh;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.container1 .left{
    flex: 3;
    padding: 5vh;
}

.container1 .right{
    flex: 7;
}

.container2{
    padding: 10vh;
    background-color: burlywood;
}

.container2 .top{
    width: 100%;
}

.container2 .bottom{
    display: felx;
}

.container2 .good-item{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5vh;
    margin-bottom: 3vh;
}

.container2 .good-item .good-item-circle{
}

.container2 .good-item .good-item-sentence{
}

.container3{
    padding: 10vh;
}

.container3 .mainproject{
    padding: 5vh;
}

.container3 .project-content{
    display: flex;
    padding: 1vh
}

.container3 .project-hori{
    display: flex;
    justify-content: space-between;
}

.container3 .project-ver{
}


.left{
    flex: 5;
}

.right{
    flex: 5;
}

.bottom{
    margin: 0.1vh;
}